
.Port {
  float: left;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 14px;
}

.Switch {
  background-color: grey;
}

.PortColorA {
  background-color: #C0224E;
}

.PortColorB {
  background-color: #42A0BA;
}

.FiberShape {
}

.CopperShape {
}

